{% extends "base.html" %}
{% load  staticfiles %}
{% block content %}

<div class="container">
	<p>请从最高学历填起，填写到本/专科教育经历为止</p>
	<div class='col-lg-6'>
	<form method="post" action="">
		{% csrf_token %}
			{{ formset.management_form }}
		<div id="form_set">
			{%for form in formset%}
				<table class='no_error'>
				{{form.as_table}}
				{{ form.media }}
				</table>
			{%endfor%}
		</div>
			 <p>  </p>
			 <div class="col-lg-5">
				<input type="button" value="增加新的经历" id="add_more" class='btn-info'/>
			</div>
		<div id="empty_form" style="display:none">
		    <table class='no_error'>
		        {{ formset.empty_form.as_table }}
		    </table>
		</div>
		<script>
		    $('#add_more').click(function() {
		        var form_idx = $('#id_form-TOTAL_FORMS').val();
		        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
		        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
		    });
		</script>
		<div class="col-lg-5">
             <button type="submit" class="btn btn-default">保存</button>
        </div>
	</form>
	</div>
 </div>
 <p>  </p>

{% endblock %}