{% extends "base.html" %}
{% load  staticfiles %}
{% block content %}
  <div align="center">
	<form  action="{{path}}" method="post">
                {% csrf_token %}
                
      
                <div>
                  <label>用户名*:</label>
                  <div>
                    {{form.username}}
                  </div>
                  {%if form.username.errors%}
                  <div>
                  <span>
                  {% for error in form.username.errors %}
                    {{ error|escape }}
                  {% endfor %}
                  </span>
                  </div>
                  {%endif%}
                </div>
                <div >
                  <label>电子邮箱*:</label>
                  <div >
                    {{form.email}}
                  </div>
                  {%if form.email.errors%}
                  <div >
                  <span >
                  {% for error in form.email.errors %}
                    {{ error|escape }}
                  {% endfor %}
                  </span>
                  </div>
                  {%endif%}
                </div>

                <div >
                  <div >
                    <button type="submit">确认</button>
                  </div>
                </div>
               </form>
  </div>
{% endblock %}